## 1

In [2]:
# Create a list of the planets and return the length of the list.
l = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [9]:
len(l)

8

In [12]:
# Print the first 4 values of the list
print(l[0:4])

['Mercury', 'Venus', 'Earth', 'Mars']

In [14]:
print(l)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [17]:
# Print the entries in the list that end in 's'
for entry in l:
    if entry.endswith("s"):
        print(entry)

Venus
Mars
Uranus

2

In [24]:
# A function that converts Kelvin to Celsius
def temperatureConversionKtoC(temp):
        temperature = temp - 273.15
        return temperature
temperatureConversionKtoC(373.15)

100.0

In [55]:
# Convert either Celsius or Kelvin to Fahrenheit 
def tempConversiontoF(temp, celsius = False, kelvin = False):
    if celsius:
        temperature = temp * (1.8) + 32
        return temperature
    if kelvin:
        temp2 = temperatureConversionKtoC(temp)
        temperature = temp2 * (1.8) + 32
        return temperature
tempConversiontoF(373.15, True, False)

703.67

In [59]:
# Convert Fahrenheit to Celsius or Kelvon
def conversionfromF(temp, celsius = False, kelvin = False):
    if celsius:
        temperature1 = temp - 32
        temperature = temperature1 * .556
        return temperature
    if kelvin:
        temperature1 = temp - 32
        temperature = temperature1 * .556 + 273.15
        return temperature
conversionfromF(373.15, False, True)

462.82939999999996

2.5

In [83]:
# Convert Heights from Imperial to Metric
def heightConversion_FItoM(feet, inches):
    return (feet * .3048) + (inches * .0254)
heightConversion_FItoM(5, 7)

1.7018

In [71]:
# Convert Heights from Meters to Imperial
def heightConversion_MtoFI(meters):
    inches1 = (meters / .0254)
    feet = int(inches1 // 12)
    inches = (inches1 % 12) 
    return feet, inches
heightConversion_MtoFI(1.72)

(5, 7.716535433070874)

In [87]:
# Verify conversion's round trip 

def heightConversion_FItoM(feet, inches):
    return (feet * 0.3048) + (inches * 0.0254)

def heightConversion_MtoFI(meters):
    inches_total = meters / 0.0254  
    feet = int(inches_total // 12)  
    inches = inches_total % 12      
    return feet, inches

def round_trip(heightM):
    feet, inches = heightConversion_MtoFI(heightM)
    
    metersBack = heightConversion_FItoM(feet, inches)
    
    inLine = abs(heightM - metersBack) < 1e-6
    return inLine, metersBack

heightM = [1.7018, 1.8288, 2.0]

for height in heightM:
    is_inLine, converted_back = round_trip(height)
    print(f"Height: {height:.6f} meters -> consistent: {is_inLine}, converted back: {converted_back:.6f} meters")

Height: 1.701800 meters -> consistent: True, converted back: 1.701800 meters
Height: 1.828800 meters -> consistent: True, converted back: 1.828800 meters
Height: 2.000000 meters -> consistent: True, converted back: 2.000000 meters